# Ignore all IntelliJ stuff and include the important things
# @see https://intellij-support.jetbrains.com/hc/en-us/articles/206544839
/.idea/*
!/.idea/http-client/
!/.idea/codeStyles/
!/.idea/jsLinters/
!/.idea/runConfigurations/
!/.idea/dataSources.xml
!/.idea/codeStyleSettings.xml
!/.idea/checkstyle-idea.xml
!/.idea/encodings.xml
!/.idea/sqldialects.xml
!/.idea/prettier.xml
!/.idea/eclipseCodeFormatter.xml
!/.idea/inspectionProfiles/
*.iml

# Ignore all VS Code stuff and include the important things
/.vscode/*
!/.vscode/settings.json
!/.vscode/launch.json
.settings
.project
.classpath
.factorypath

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

# env file for a specific environment
server/src/main/config/portal-gateway.specific.env
helm/src/main/resources/values.specific.yaml
helm/src/main/resources/proxy-config.specific/

# ASDF
.tool-versions

# documentation
docs/node_modules/
docs/build/

# macos
*.DS_Store
