# Ignore all IntelliJ stuff and include the important things
# @see https://intellij-support.jetbrains.com/hc/en-us/articles/206544839
/.idea/*
!/.idea/codeStyles/
!/.idea/jsLinters/
!/.idea/runConfigurations/
!/.idea/dataSources.xml
!/.idea/codeStyleSettings.xml
!/.idea/checkstyle-idea.xml
!/.idea/encodings.xml
!/.idea/sqldialects.xml
!/.idea/prettier.xml
*.iml

# Ignore all VS Code stuff and include the important things
/.vscode/*
.settings
.project
.classpath
.factorypath
!/.vscode/portal-java-formatter.xml

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

# env file for a specific environment
/server/src/main/config/portal-gateway.specific.env

# ASDF
.tool-versions
