<configuration scan="true">
    <conversionRule conversionWord="vcl" converterClass="io.reactiverse.contextual.logging.LogbackConverter"/>

    <appender name="STRUCTURED_STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <pattern>
                    <pattern>
                    {
                        "timestamp": "%date",
                        "level": "%level",
                        "logger": "%logger",
                        "line": "%line",
                        "method": "%method",
                        "message": "%message",
                        "userId": "%vcl{userId}",
                        "sessionId": "%vcl{sessionId}",
                        "traceId": "%vcl{traceId}",
                        "stacktrace": "%ex"
                    }
                    </pattern>
                </pattern>
                <arguments/>
            </providers>
        </encoder>
    </appender>

    <property name="COMMON_PATTERN" value="%date %-5level [%vcl{userId:--}/%vcl{sessionId:--}/%vcl{traceId:--}] %logger{36}:%line - %method: %msg%n" />
    <appender name="UNSTRUCTURED_STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${COMMON_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Failure of decoding the access token/id token because of invalid audience, issuer or signature is only reported on TRACE
    https://github.com/eclipse-vertx/vertx-auth/blob/4.3.7/vertx-auth-oauth2/src/main/java/io/vertx/ext/auth/oauth2/impl/OAuth2AuthProviderImpl.java#L606 -->
    <logger name="io.vertx.ext.auth.oauth2.impl.OAuth2AuthProviderImpl" level="TRACE"/>
    <logger name="io.netty" level="INFO"/>
    <logger name="com.hazelcast" level="INFO"/>
    <logger name="com.inventage.portal.gateway.proxy.middleware.log.RequestResponseLoggerMiddleware" level="DEBUG"/>

    <if condition='property("PORTAL_GATEWAY_STRUCTURAL_LOGGING_ENABLED").equals("true")'>
        <then>
            <root level="${PORTAL_GATEWAY_LOG_LEVEL:-INFO}">
                <appender-ref ref="STRUCTURED_STDOUT" />
            </root>
        </then>
        <else>
            <root level="${PORTAL_GATEWAY_LOG_LEVEL:-INFO}">
                <appender-ref ref="UNSTRUCTURED_STDOUT" />
            </root>
        </else>
    </if>
</configuration>
