<configuration scan="true">
    <conversionRule conversionWord="vcl" converterClass="io.reactiverse.contextual.logging.LogbackConverter"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <pattern>
                    <pattern>
                    {
                        "timestamp": "%date",
                        "level": "%level",
                        "logger": "%logger",
                        "line": "%line",
                        "method": "%method",
                        "message": "%message",
                        "userId": "%vcl{userId}",
                        "sessionId": "%vcl{sessionId}",
                        "traceId": "%vcl{traceId}",
                        "stacktrace": "%ex"
                    }
                    </pattern>
                </pattern>
                <arguments/>
            </providers>
        </encoder>
    </appender>

    <!-- Failure of decoding the access token/id token because of invalid audience, issuer or signature is only reported on TRACE
    https://github.com/eclipse-vertx/vertx-auth/blob/4.3.7/vertx-auth-oauth2/src/main/java/io/vertx/ext/auth/oauth2/impl/OAuth2AuthProviderImpl.java#L606 -->
    <logger name="io.vertx.ext.auth.oauth2.impl.OAuth2AuthProviderImpl" level="TRACE"/>
    <logger name="io.netty" level="INFO"/>
    <logger name="com.hazelcast" level="INFO"/>
    <logger name="com.inventage.portal.gateway.proxy.middleware.log.RequestResponseLoggerMiddleware" level="DEBUG"/>

    <!-- Set to warn, we are only interested if this fails -->
    <logger name="com.inventage.portal.gateway.proxy.middleware.authorization.bearerOnly.publickeysReconciler.JWTAuthPublicKeysReconcilerHandlerImpl" level="WARN" />
    <logger name="com.inventage.portal.gateway.proxy.middleware.authorization.bearerOnly.publickeysReconciler.JWTAuthPublicKeysReconcilerHandler" level="WARN" />

    <root level="${PORTAL_GATEWAY_LOG_LEVEL:-INFO}">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
